/* General */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
p,
h2,
a,
h3 {
    font-family: "Dosis", sans-serif;
}

/* Higher part of the page (Header and nav) */
main {
    min-width: 375px;
}
header {
    background: #212121;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.title {
    color: #d32f2f;
    font-family: "Bebas neue", cursive;
    font-size: 30px;
}
button {
    border: none;
    background: none;
    color: #d32f2f;
}
button:hover {
    color: white;
}

.menu-desktop {
    display: none;
}
.menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #484848;
    padding: 15px;
    right: 0px;
    top: 30px;
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.79);
    border-radius: 3px;
    outline: none;
}
.menu-content > a {
    text-decoration: none;
    color: #d32f2f;
}
.menu-content > a:hover {
    color: white;
}
.active {
    display: flex;
}

/* Section Event */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    gap: 15px;
    background: #484848;
    padding: 15px;
    position: relative;
    top: 39px;
}
.event-card {
    margin: auto;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    border-radius: 6px;
    box-shadow: 1px 2px 6px -1px #000000;
}

.card-img {
    height: 125px;
    width: 350px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-img > img {
    height: auto;
    width: 350px;
}

.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px;
    width: 350px;
    height: auto;
}
.card-text {
    grid-column: 1/3;
    overflow-wrap: break-word;
}
.card-text > span {
    background: #d32f2f;
    width: 60px;
    height: 2px;
    border-radius: 10px;
    display: block;
    margin: 10px 0;
}

.event {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.event > p {
    position: relative;
    top: 41px;
    font-weight: 900;
    font-size: 19px;
}
.event > i {
    color: #484848;
}
.event-date {
    font-weight: bold;
    margin-top: 10px;
}
.buy-button {
    background: #d32f2f;
    color: white;
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
    width: 70px;
    font-family: "Dosis", sans-serif;
    font-size: 17px;
}
.buy-button:hover {
    color: #d32f2f;
    background: white;
    border: 2px solid #d32f2f;
    padding: 3px;
    margin-top: 10px;
}

/* footer */

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    color: white;
}
footer > p {
    margin: 0%;
    padding: 0%;
}

/* Button menu */

/* Media Query */

@media (min-width: 880px) {
    nav > button {
        display: none;
    }
    .menu-desktop {
        display: flex;
    }
    .menu-desktop > a {
        text-decoration: none;
        color: #d32f2f;
        margin-left: 20px;
    }
    .menu-desktop > a:hover {
        color: white;
    }
    .event-card {
        width: 600px;
    }
    .card-content {
        width: 600px;
    }
    .card-img {
        height: 200px;
        width: 600px;
    }
    .card-img > img {
        height: 200px;
        width: 600px;
    }
}
