/* General */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
p,
h2,
a {
    font-family: "Dosis", sans-serif;
}

/* Higher part of the page (Header and nav) */
main {
    min-width: 375px;
}
header {
    background: #212121;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.title {
    color: #d32f2f;
    font-family: "Bebas neue", cursive;
    font-size: 30px;
}
button {
    border: none;
    background: none;
    color: #d32f2f;
}
button:hover{
    color : white;
}

.menu-desktop {
    display: none;
}
.menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background: #484848;
    padding: 15px;
    right: 0px;
    top: 30px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.79);
    border-radius : 3px;
    outline: none;
}
.menu-content>a{
    text-decoration: none;
    color:  #d32f2f;
}
.menu-content>a:hover{
    color:  white;
}
.active{
    display: flex;
}

/* Section Story */

.story-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 30px 15px;
    text-align: center;
    background: #484848;
}
.story-wrapper > span {
    display: block;
    width: 90px;
    height: 2px;
    margin: 10px 0;
    background: #ff6659;
}

/* section Who are fall industry */

.action-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 15px 15px;
    text-align: center;
    background-image: url("../img/pim-myten-m41k1lTzjVM-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
}
.action-wrapper > span {
    display: block;
    width: 90px;
    height: 2px;
    margin-top: 15px;
    background: #ff6659;
}
.actions {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-top: 10px;
}
.music,
.event,
.cultural {
    margin-top: 10px;
}
.music > p,
.event > p,
.cultural > p {
    margin-top: 10px;
}
/* footer */

footer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #212121;
    color: white;
}
footer > p {
    margin: 0%;
    padding: 0%;
}

/* Button menu */



/* Media Query */

@media (min-width: 880px) {
    .actions {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        margin-top: 100px;
    }
   
    .story-wrapper {
        width: 880px;
        margin: auto;
        background: none;
    }
    main > section {
        background: #484848;
    }
    nav > button {
        display: none;
    }
    .menu-desktop {
        display: flex;
    }
    .menu-desktop > a {
        text-decoration: none;
        color: #d32f2f;
        margin-left: 20px
    }
    .menu-desktop> a:hover{
        scale: 1.5;
        color: white;
    }
}
